<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Page Not Found
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="not-found-content">
  <ion-row>
    <ion-col id="swag-404-img" size="12"></ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" class="not-found-title ion-padding">
      <h1>404<br>Page not found</h1>
      <ion-button color="secondary" size="large" [routerLink]="['/walkthrough']">Back to Home page</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
<ion-footer class="ion-padding">
  <div>
    Photo <a href="https://commons.wikimedia.org/wiki/File:2007-02-15-CLB-Couloir2-1c.JPG" target="_blank">Scientif38</a> and <a href="https://creativecommons.org/licenses/by-sa/3.0/deed.en" target="_blank">Creative Commons</a> 
  </div>
</ion-footer>